.h2 {
  margin-bottom: 0;
}

.App {
  color: #fff;
  background-color: #13171d;
}

.button-float {
  opacity: 0;
  position: fixed;
  border-radius: 5vw;
  right: 25px;
  bottom: 25px;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;
}

.scroll {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.container {
  padding: 1.5% 13.4%;
}

.container-videos-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-container {
  width: 49%;
  cursor: pointer;
  margin-bottom: 2%;
  position: relative;
  background-color: #1c1b1b;
  overflow: hidden; /* Evita que la sombra se desborde en el hover */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.video-container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.video-container img.play {
  transition: opacity 0.3s ease-in-out;
}

.video-container:hover img.play {
  opacity: 0.5;
}

.play {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -72px;
  width: 11%;
}

.line {
  width: 10%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 33px;
  margin-top: 10px;
}

/* .line-title {
  width: 5%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 15px;
  margin-top: 10px;
} */

@media all and (max-width: 1400px) {
  .container {
    padding: 2% 3%;
  }
}

@media all and (max-width: 699px) {
  .video-container {
    width: 100%;
  }
}
