.App {
  color: #fff;
  background-color: #13171d;
}

.button-float{
  opacity: 0;
  position: fixed;
  border-radius: 5vw;
  right: 25px;
  bottom: 25px;
  transition: opacity 0.3s ease-in-out;
}

.scroll{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.container{
  padding: 2% 13.4%;
}


.container-videos-todos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-container{
  width: 49%;
  cursor: pointer;
  margin-bottom: 2%;
  position: relative;
}

.play {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -72px;
  width: 11%;
}

@media all and (max-width: 1400px){ 
  .container{
    padding: 2% 3%;
  }
}

@media all and (max-width: 799px){
  .video-container{
    width: 100%;
  }
}